<%- include('../partials/header.ejs') %>


<% if (user) { %>
<%- include('./nav.ejs') %>

<% } %>

 
	<h3 class='indexHeading'>The United States of America</h3>

	<ol class='statesColumns'>
		<% states.forEach((state) => { %>

			<li class='statesList'>
				<a href="/states/<%= state.id %>"><%= state.state %></a>
				
				<!-- Need to add loop to populate state data from future stateData.js file -->
			</li>
  

	<%})%>


	</ol>







<%- include('../partials/footer.ejs') %>