<%- include('../partials/header.ejs') %>

	<%- include('./nav.ejs') %>

	


	<h2 class='showHeading'> <%= state.state %> </h2>

		<p class='stateInfo'> State Bird: <%= state.stateBird %>
		<p class='stateInfo'> State Population: <%= state.population %> residents
		<p class='stateInfo'> Top Attractions: <%= state.topAttractions %>
		<p>
			<img class='birds' src="<%= state.birdImage %>"/>
		</p>
		
		
		<% if(user) {%>

			<form method="POST" action="/users/<%= userId %>/<%= state.id %>?_method=PUT" value= "value">

				<label for="states"></label>
				
				<button class='showButton'>I have been here!</button>
			</form>
		<%}%>


			<% if(user) {%>
			<form class='commentForm' method="POST" action="/comments/<%= state.id %>">
				<textarea class='textArea' name='text' placeholder="Share your experience..."></textarea>
				<br />
				<button class='showButton'>Share</button>
			</form>
			<%}%>		


	<ul class="commentsList">
    <% state.comments.forEach((comment) => { %>
      <li class="comments">
        <%= comment.text %>
        <br />
        <small class="commentInfo"> Posted by <%= comment.user.user %> on (<%= comment.posted.toLocaleString() %>) </small>
				<small>

				 <% if(userId == comment.user.id) { %>

		      <form method="POST" action="/comments/<%= state.id %>/<%= comment.id %>?_method=DELETE">
		        <button class="commentButton">Delete</button>
		      </form>
		<%}%>

		    </small>
      </li>
    <% }) %>
 	</ul>









<%- include('../partials/footer.ejs') %>
